header {
    position: absolute;
    top: 25px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);

    p {
        padding-right: 20px;

        span {
            font-size: 14px;
            border-right: 1px dotted rgba(255, 255, 255, 0.5);
        }

        i {
            font-size: 14px;
        }
    }

    nav {
        .navbar-toggler {
            i {
                color: #fbbd61;
            }
        }

        #movieNavBar {
            ul {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                .nav-item {
                    a {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 0.8em;
                        display: inline-block;
                        padding: 20px 24px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        color: #ffffff;
                    }

                    &::after {
                        content: "";
                        width: 0;
                        height: 3px;
                        display: block;
                        background: linear-gradient(to right, #fbbd61, #ec7532);
                        transition: all 0.5s;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    &:first-child {
                        &::after {
                            content: "";
                            width: 100%;
                            height: 3px;
                            display: block;
                            background: linear-gradient(to right, #fbbd61, #ec7532);
                        }
                    }
                }
            }
        }
    }
}
