#navbar {
    background-color: #101010;
    position: fixed;
    top: -80px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 999999;
    transition: all 300ms ease-in-out;

    .navbar-brand {
        img {
            max-height: 40px;
        }
    }

    .scrollNavbar {
        ul {
            .nav-item {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 0.8em;
                    display: inline-block;
                    padding: 20px 24px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: #ffffff;
                }

                &::after {
                    content: "";
                    width: 0;
                    height: 1px;
                    display: block;
                    background: linear-gradient(to right, #fbbd61, #ec7532);
                    transition: all 0.5s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }

                &:first-child {
                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        display: block;
                        background: linear-gradient(to right, #fbbd61, #ec7532);
                    }
                }
            }
            .active {
                a {
                    color: #fbbd61;
                }
            }
        }
    }
}
